<!-- drop your code here -->
<footer>
    <div class="socials d-flex flex-wrap justify-content-between pt-4 pb-2 ps-5 pe-5 text-center">
        <p> Get connected with us on social networks:</p>
        <div class="social-icon-container d-flex justify-content-center">
            <a href="#" class="icon-links"><i class="fa fa-brands fa-facebook-f text-white"></i></a>
            <a href="#" class="icon-links"><i class="fa fa-brands fa-twitter ps-4 text-white"></i></a>
            <a href="#" class="icon-links"><i class="fa fa-brands fa-google ps-4 text-white"></i></a>
            <a href="#" class="icon-links"><i class="fa fa-brands fa-instagram ps-4 text-white"></i></a>
            <a href="#" class="icon-links"><i class="fab fa-brands fa-linkedin-in ps-4 text-white"></i></a>
        </div>
    </div>

    <div class="footer-links-container d-flex flex-wrap ps-5 pe-5 justify-content-between">

        <div class="footer-links-cards d-flex flex-column mt-5 mb-5">
            <div class="footer-card-headings"> Spirit-2023 </div>
            <hr>
            <div class="footer-card-content">
                <a href="/">
                    <img src="/image/logo_dark.png" alt="Spirit'23 logo" title="Spirit home" srcset="" width="100"
                        class="mt-2">
                </a>
            </div>
        </div>

        <div class="footer-links-cards mt-5 mb-5">
            <div class="footer-card-headings"> Checkout </div>
            <hr>
            <div class="footer-card-content ">
                <div class="mt-2"><a href="/events" class="footer-links"> Events</a></div>
                <div class="mt-2"><a href="/gallery" class="footer-links"> Gallery</a></div>
                <div class="mt-2"><a href="/sponsors" class="footer-links"> Sponsors</a></div>
                <div class="mt-2"><a href="" title="Frequently asked questions" class="footer-links"> FAQ </a></div>
            </div>
        </div>

        <div class="footer-links-cards mt-5 mb-5">
            <div class="footer-card-headings"> Useful links </div>
            <hr>
            <div class="footer-card-content ">
                <div class="mt-2"><a href="/login" class="footer-links"> Login</a></div>
                <div class="mt-2"><a href="/registration" class="footer-links"> Register</a></div>
                <!-- <div class="mt-2"><a href="" title="Campus ambassador" class="footer-links">Become our CA</a></div> -->
                <div class="mt-2">
                    <a type="button" class="footer-links" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Become our CA
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Become our Campus Ambessdor</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body dfx">
                                  <div class="ca-form dfx">
                                    <form action="/ca" >
                                        <div class="ca-combined">
                                            <div class="ca-elm">
                                                <label for="fname">First name</label>
                                                <input type="text" name="fname" id="fname">
                                            </div>
                                            <div class="ca-elm">
                                                <label for="lname">Last name</label>
                                                <input type="text" name="lname" id="lname">
                                            </div>
                                        </div>
                                        <div class="ca-elm">
                                            <label for="email">Email Id</label>
                                            <input type="email" name="email" id="email">
                                        </div>
                                        
                                        <div class="ca-combined">
                                            <div class="ca-elm">
                                                <label for="college">College</label>
                                                <input type="text" name="college" id="college">
                                            </div>
                                            <div class="ca-elm">
                                                <label for="year">Year</label>
                                                <input type="text" name="year" id="year">
                                            </div>
                                        </div>
                                        <div class="ca-combined">
                                            <div class="ca-elm">
                                                <label for="address">Postal Address</label>
                                                <input type="text" name="address" id="address">
                                            </div>
                                            <div class="ca-elm">
                                                <label for="code">Pin code</label>
                                                <input type="number" min="1000" max="9999" name="code" id="code">
                                            </div>
                                        </div>
                                        <div class="ca-elm">
                                            <label for="question">Why should we choose you?</label>
                                           <textarea name="question" id="question"></textarea>
                                        </div>

                                        <div class="ca-combined">
                                            <div class="ca-elm">
                                                <label for="phone">Phone number</label>
                                                <input type="tel" name="phone" id="phone">
                                            </div>
                                            <div class="ca-elm">
                                                <label for="whatsapp">Whatsapp number</label>
                                                <input type="tel" name="whatsapp" id="whatsapp">
                                            </div>
                                        </div>
                                        <div class="ca-combined">
                                            <div class="ca-elm">
                                                <label for="password">Password</label>
                                                <input type="password" name="password" id="password">
                                            </div>
                                            <div class="ca-elm">
                                                <label for="cpassword">Confirm Password</label>
                                                <input type="password" name="cpassword" id="cpassword">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                                
                            </div>
                            <style>
                                .dfx{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .ca-form{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .ca-form form{
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    justify-content: center;
                                    align-items: center;
                                   
                                }
                                .ca-elm{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    width: 100%;
                                    margin: 10px 0px;
                                    

                                }
                                .ca-elm input, textarea{
                                    background-color: black;
                                }
                                .ca-combined{
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    width: 100%;
                                }
                            </style>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="footer-links-cards mt-5  mb-5">
            <div class="footer-card-headings"> Contact </div>
            <hr>
            <div class="footer-card-content ">
                <div class="mt-4 ms-neg"><img src="/image/home-icon.svg" alt="event-logo" srcset="" width="25px"
                        class="me-3"><a href="" class="footer-links"> IIT BHU(Varanasi), 221005</a></div>
                <div class="mt-3"><i class="fa-solid fa-envelope fa me-4"></i><a href="" class="footer-links">
                        info@spirit.com</a></div>
                <div class="mt-3"><i class="fa-solid fa-phone fa me-4"></i><a href="" class="footer-links">+91 123 465
                        9382</a></div>
                <div class="mt-3"><i class="fa-solid fa-phone fa me-4"></i><a href="" class="footer-links">+91 123 465
                        9382</a></div>
            </div>
        </div>


    </div>
    <div class="copyright pt-3 pb-2 ">
        <p class="text-center"> &#169; 2023 Copyright: spirit.com</p>
    </div>

</footer>

<script src="/js/all.js"></script>
<script src="/js/logic.js"></script>
<script src="/js/index.js"></script>
<!-- <script src="/js/bootstrap.bundle.js"></script> -->
</body>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
crossorigin="anonymous"></script>

</body>

</html>