

    <div class="footer">
        <div class="layer">
            <div class="logo">
                <div class="logo_img">
                    <img src="/image/132311731_887844135320376_6598073672727793761_n - Copy.jpg" alt="logo">
                </div>
                <div class="logo_tag">
                    <div class="tag">Spirit</div> 
                    <span>This is team spirit</span>
                    <hr>
                </div>
            </div>

            <div class="foot_content">
                <div class="content">
                    <div class="item">
                        <ul class="list">
                            <li class="head">Home</li>
                            <li class="link"><a href="#"> footer</a></li>
                            <li class="link"><a href="#"> header</a></li>
                            <li class="link"><a href="#"> navbar</a></li>
                            <li class="link"><a href="#"> content</a></li>
                        </ul>
                    </div>

                    <div class="item">
                        <ul class="list">
                            <li class="head">Help</li>
                            <li class="link"><a href="#"> footer</a></li>
                            <li class="link"><a href="#"> header</a></li>
                            <li class="link"><a href="#"> navbar</a></li>
                            <li class="link"><a href="#"> content</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="list">
                            <li class="head">Events</li>
                            <li class="link"><a href="#"> footer</a></li>
                            <li class="link"><a href="#"> header</a></li>
                            <li class="link"><a href="#"> navbar</a></li>
                            <li class="link"><a href="#"> content</a></li>
                            
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="list">
                            <li class="head">Our Teams</li>
                            <li class="link"><a href="#"> footer</a></li>
                            <li class="link"><a href="#"> header</a></li>
                            <li class="link"><a href="#"> navbar</a></li>
                            <li class="link"><a href="#"> content</a></li>
                            <li class="link"><a href="#"> footer</a></li>
                           
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="list">
                            <li class="head">Important link</li>
                            <li class="link"><a href="#"> footer</a></li>
                            <li class="link"><a href="#"> navbar</a></li>
                            <li class="link"><a href="#"> content</a></li>
                        </ul>
                    </div>
                </div>

                <!-- footer email subs. -->
                <div class="connect">
                    <!-- here we put the form -->
                    <div class="form">
                        <div class="text">Subscribe for more information!</div>
                        <form action="#">
                            <input  id="email" type="text" placeholder="example@xyz.com">
                            <button class="m_btn" type="submit"><i class="fa-solid fa-chevron-right"></i></i></button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="media">
                <div class="media_logo">
                    <!-- here we put social media logo -->
                    <a href="#"><i  id="fi" class="ff fa-brands fa-instagram"></i></a>
                    <a href="#"><i  id="fl" class="ff fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i id="ft" class="ff fa-regular fa-envelope"></i></i></a>
                    <a href="#"><i id="fy"  class="ff fa-brands fa-youtube"></i></a>
                    <a href="#"><i  id="fw" class="ff fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
<script src="/js/login.js"></script>
<script src="/js/all.js"></script>
</body>

</html>