<!-- header -->
<%- include ('../partials/header.ejs') %>
<!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

        <h3>this is event page</h3>
        <a href="/events/page1">Events 1</a>

<!-- footer -->
<%- include('../partials/footer.ejs') %>