/* font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */

/* ******************   Navbar section css  ********************* */
*{
	box-sizing: border-box;
}

nav{
	position: sticky;
}

body {
	font-family: 'Open Sans', sans-serif;
}


.text-justify {
	text-align: justify;
}

.nav-link {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: black !important;

}

@media (max-width: 975px) {

	.nav-item{
		margin-left: 0 !important;
		margin-top: 5px;
	}

	.collapse{
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	
}



/* ******************   about section css  ********************* */
#about {

	width: 100%;
	padding: 10% 7%;
}


.about-container {

	width: 100%;
	display: flex;
	flex-wrap: wrap;

	/* border: 1px solid black; */
}

.about-img {

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3%;
	width: 500px;
	/* border: 1px solid black; */
}

#about img {

	width: 100%;
}

.about-text {

	/* border: 1px solid black; */
	width: 700px;
	text-align: justify;
	font-size: 1.1rem;
	line-height: 1.7;
	/* font-weight: 500; */
}

.section-title {

	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 3.2rem;


}

.navbar-toggler {

	border: none !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
  }

@media (max-width: 1400px) {

	.about-container {

		justify-content: center !important;
		align-items: center !important;
	}
}

@media (max-width: 600px) {														/* Mobile view */

	#about {

		padding: 10% 1%;
	}

	.about-text {

		font-size: 0.8rem;
	}

	.section-title {

		font-size: 32px;
	}

	.navbar-brand img{

		height: 50px;
	}

	.box{
		height: 300px !important;
	}

}

/************************* section ******************/
.box {

	width: 100%;
	height: 500px;
	background-color: #21D191;
}

.inline-icon {
	vertical-align: bottom;
	font-size: 18px !important;
}

/* ****************** Events section ************************ */

#events {
	padding: 7% 12% 5%;
	background-color: #7286D3;
	/* opacity: 0.1; */
}

.event-card {
	width: 320px;
}

.events-container {

	margin-top: 6%;
	justify-content: space-between;
}

.event-title {

	font-family: 'Poppins', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;

}

/* ************************** Footer section ************************  */
.socials {

	background-color: #8EA7E9;
	color: white;
}

.footer-links-container {

	background-color: #E8F1F5;
}

hr {

	width: 150px;
	margin: 6% 0;
	border: 3px solid #828185;
	border-top: none;

}

.ms-neg {

	margin-left: -4px;
}

.footer-card-headings {

	font-family: 'Poppins', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	text-transform: uppercase;
}



.copyright {

	background-color: #BEBFC1;
}

.text-dark, .nav-button {
	background-image: linear-gradient(to right,
			#21D191,
			#21D191 50%,
			#000 50%);
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
	text-decoration:none;
}

.text-dark:before , .nav-link::before{
	content: '';
	background: #21D191;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

.text-dark:hover , .nav-link:hover{
	background-position: 0;
}

.text-dark:hover::before, .nav-link:hover::before{
	width: 100%;
}

.icon-links:hover{

	color: rgb(30, 120, 20) !important;
}

.footer-links-cards {

	width:250px;
}

@media (max-width: 703px) {

	.footer-links-cards{

		margin: 1rem !important;
		/* padding: 1rem !important; */
	}

	/* .footer-card-headings{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	} */

	/* .footer-card-content{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	} */

	.text-dark{

		margin-bottom: 0rem !important;
	}
	hr{
		width: 80px;
	}
	
}

@media (max-width: 703px) {
	.socials{
		/* display: flex;
		align-items: center;
		justify-content: center; */
		flex-direction: column;
	}
}