/* footer design */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Bhaina+2:wght@400;500&family=Knewave&family=Merriweather:wght@300;400&family=PT+Serif&family=Varela+Round&display=swap'); */

/* 
font-family: 'Baloo 2', cursive;
font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Merriweather', serif;
font-family: 'PT Serif', serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Knewave', cursive;

*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Baloo Bhaina 2', cursive;

}

.login_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:url("/image/reg_back.jpg")no-repeat center center/cover;

    /* background-color: rgb(14, 63, 63); */
}

.login_container .layer{
    width: 100%;
    height: 100%;
    background-color:rgba(55, 55, 79, 0.872);
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_container .layer .log_main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.log_main .log_1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}
.log_main .log_1 .text{
    text-align: center;
    padding: 0px 10px;
    font-size: 18px;
    color: antiquewhite;
}

.log_main .link{
    color:cyan;
}

.log_main a{
    color:rgb(2, 124, 255);
    text-decoration: none;
}
.head{
    color: rgb(25, 101, 253);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.log_main .log_form{
    background-color:azure;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5px 20px;
    border-radius: 4px;
    margin: 10px 2px;
}

.log_form .form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log_form .form_elm{
    display: flex;
    flex-direction: column;
    margin: 5px 2px;
    width: 90%;
}

.log_form .form_elm #togglePassword{
    margin-left: 70px;
    cursor: pointer;
}

.log_form .form_elm label{
    color: black;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.log_form .form_elm input{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border:1px solid black;
    border-radius: 4px;
    /* padding: 2px 5px; */
    /* margin: 4px; */
    font-size: 15px;
    color: black;
    background: transparent;
    /* border-bottom: 1.5px solid black; */
    /* border-color: black; */
}

#log_submit{
    background: rgb(38, 121, 247);
    transition: .4s all ease-out;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}

#log_submit:hover{
    background: rgb(8, 66, 154);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* responsive */

@media screen and (max-width: 793px) {

    .login_containe{
        height: auto;
    }
    .log_main .log_1 .text{
        padding: 0px 4px;
        font-size: 15px;
        line-height: 20px;
    }
}

@media screen and (max-width: 393px) {

    .login_container .layer .log_main{
        flex-direction: column;
    }
    .log_main .log_1{
        width: 90%;
    }


}



