/* footer design */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Bhaina+2:wght@400;500&family=Knewave&family=Merriweather:wght@300;400&family=PT+Serif&family=Varela+Round&display=swap'); */

/* 
font-family: 'Baloo 2', cursive;
font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Merriweather', serif;
font-family: 'PT Serif', serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Knewave', cursive;

*/
*{
    padding: 0;
    margin: 0;
   

}
.registration{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/image/reg_back.jpg') no-repeat center center/cover;
}

.registration .reg_layer{
    width: 100%;
    height: 100%;
    background-color:rgba(55, 55, 79, 0.872);
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registration .reg_layer .main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.main .form_content{
    display: flex;
    margin: 10px 2px;
    align-items: center;
    justify-content: center;
    /* height: 90vh; */
    width: 40%;
    /* background: white; */
    flex-direction: column;
}
/* first container */

.main .form_content .welcome{
    font-size: 35px;
    color:rgb(35, 126, 244);
    font-weight: bold;
    text-align: center;
    
}
.main .form_content .head{
    color: white;
    text-align: center;
    color: greenyellow;
    /* font-size: 20px; */

}
.main .form_content .text{
    color: white;
    text-align: center;
    padding:10px;
}

.form_content .social .google{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: white;
    padding: 0px 10px;
    border-radius: 4px;
}
.form_content .social .google h3{
    padding:2px 4px 0px 4px;
    margin: 0;
}







.main .main_form{
    background-color:aliceblue;
    padding: 10px 20px;

}

.form_content .intro_text{
    color: rgb(38, 121, 247);
    font-weight: 600;
}

.form_content .form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
    /* border: 1px solid white; */
}

.form .combined{
    display: flex;
    align-items: center;
    justify-content: center;

}

 .registration .form .form_elm{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.registration .form_elm  #togglePassword{
    margin-left: 120px;
    cursor: pointer;
}


.registration .form_elm label{
    color: black;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.registration .form_elm input, select{
    outline: none;
    border: none;
    padding: 0;
    margin: 4px;
    font-size: 15px;
    color: black;
    background: transparent;
    border-bottom: 1.5px solid black;
    /* border-color: black; */
}

.registration select{
    color: black;
}

.registration option:checked{
    color:rgb(255, 255, 255);
    background-color: rgb(19, 103, 249);
  }

.registration ::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
  
 .registration :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
  }
  
 .registration ::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
  }


 .registration .form_elm #submit{
    transition: .5s all ease-out;
    background: rgb(38, 121, 247);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin: 4px 0px;
  }
 .registration .form_elm #submit:hover{
    cursor: pointer;
    color: white;
    background:rgb(8, 66, 154) ;
  }



  /* responsivness css */


  @media screen and (max-width: 809px) {

    .main .form_content .welcome{
        font-size: 30px;
    }

    .main .form_content .text{
        font-size: 12px;
    }

    .form_content .social .google{
        padding: 0px 8px;
    }






  }


  @media screen and (max-width: 786px) {

    .registration{

        height: auto;
    }
    .registration .reg_layer .main{
        flex-direction: column;
    }

    .main .form_content{
        margin: 5px 10px;
        width: 90%;
    }
    .main .form_content .welcome{
        font-size: 40px;
    }

    .main .form_content .text{
        font-size: 15px;
    }

    .form_content form{
        width: 80%;
    }

    




  }

  @media screen and (max-width: 452px) {
    .registration{

        height: auto;
    }
    .main .form_content .welcome{
        font-size: 25px;
    }
    .main .form_content .head{
        font-size: 18px;
        line-height: 20px;
    
    }
    .main .form_content .text{
        line-height: 20px;
    }
  }




