<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hello</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- bootstrap css -->
    <!-- link all css files here -->
    <link rel="stylesheet" href="/css/all.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/payment_dashboard.css" />
  </head>
  <body>
    <main style="color: rgba(31,41,55,1);">
      <nav class="navbar">
        <div class="navbar-div">
          <button class="bar-button" id="bar-button" type="button" onclick="myFunctionshow()">
            <i class="bx bx-menu" id="bar-button"></i>
          </button>
          <a href="/" class="home-link">HOME</a>
          <div class="nav-items">
            <div class="div-for-space">
              <div style="display: flex; flex-wrap: wrap;">
                <div style="width: 50%;">
                  <a href="/" class="div-for-space-link">
                    Spirit 23
                  </a>
                </div>
                <div style="display: flex; justify-content: flex-end; width: 50%;">
                  <button type="button" class="div-for-space-button" onclick="myFunctionhide()">
                    <i style="color:black; font-weight:600;" class="bx bx-x"></i>
                  </button>
                </div>
              </div>
            </div>
            <ul class="items-list">
              <li class="items-center">
                <a class="nav-items-link" href="">
                  <i class="bx bxs-dashboard nav-items-icons"></i>
                  Dashboard
                </a>
              </li>
              <li class="items-center">
                <a class="nav-items-link" href="">
                  <i class="bx bxs-dashboard nav-items-icons"></i>
                  Dashboard
                </a>
              </li>
              <li class="items-center">
                <a class="nav-items-link" href="">
                  <i class="bx bxs-dashboard nav-items-icons"></i>
                  Dashboard
                </a>
              </li>
              <li class="items-center">
                <a class="nav-items-link" href="">
                  <i class="bx bxs-dashboard nav-items-icons"></i>
                  Dashboard
                </a>
              </li>
            </ul>
            <hr class="" />
            <ul class="items-list">
              <li class="items-center">
                <a class="nav-items-link" href="">
                  <i class="bx bx-log-out nav-items-icons"></i>
                  sign out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="block-2">
        <nav class="nav-2">
          <div style="padding: 0 1rem">
            <p
              style="color: white; text-transform: uppercase; font-weight: 600"
            >
              Dashboard
            </p>
          </div>
        </nav>
        <div class="container">
          <div class="container-div">
          <div class="payment-main">
            <h4>Payment</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting</h6>
            <div>
              <p style="padding-top: 0.5rem">There are two types of tickets:</p>
              <ol>
                <li>
                  <b>Events Ticket (INR XXX): </b>
                  <div style="padding-left: 1.25rem">
                    <ul style="list-style-type: disclosure-closed">
                      <li>A one-time registration fee will permit you to participate in any number of events.</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <b>Workshop Ticket (INR XXX): </b>
                  <div style="padding-left: 1.25rem">
                    <ul style="list-style-type: disclosure-closed">
                      <li>
                        Each workshop will have its seperate fee.
                      </li>
                    </ul>
                  </div>
                </li>
              </ol>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
              </p>
            </div>
            <div style="margin-top: 0.75rem; margin-bottom: 0.75rem">
              <h5>FAQ</h5>
              <div style="padding-left: 1.25rem">
                <ol type="1" class="payment-main_list">
                  <li>
                    <p style="font-weight: 600;">
                      When is Spirit 23' going to be held?
                      <ul style="list-style-type: disclosure-closed">
                      <li>Spirit 23' is scheduled from <span style="font-weight:600">____ 2023 to ____2023</span> at IIT BHU. Registrations are open, and you can enroll in various workshops and events.</li>
                      </ul>
                    </p>
                  </li>
                  <li>
                    <p style="font-weight: 600;">
                      Is participation in events/workshops paid?
                      <ul style="list-style-type: disclosure-closed">
                      <li>A one-time registration fee will permit you to participate in any number of events. Apart  from the said fee, each workshop will have its seperate fee.</li>
                      </ul>
                    </p>
                  </li>
                  <li>
                    <p style="font-weight: 600;">
                      Can I register for multiple competitions?
                      <ul style="list-style-type: disclosure-closed">
                      <li>Yes, you can register for any number of events you wish.</li>
                      </ul>
                    </p>
                  </li>
                  <li>
                    <p style="font-weight: 600;">
                      How do I keep track of regular updates?
                      <ul style="list-style-type: disclosure-closed">
                      <li>Please follow our LinkedIn and Instagram handles.</li>
                      </ul>
                    </p>
                  </li>
                  <li>
                    <p style="font-weight: 600;">
                      How can I attend the various Innovative talks?
                      <ul style="list-style-type: disclosure-closed">
                      <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </li>
                      </ul>
                    </p>
                  </li>
                </ol>
              </div>
            </div>
            <div style="margin-top: 0.75rem; margin-bottom: 0.75rem">
              <h5>Workshops</h5>
              <div style="padding-left: 1.25rem">
                <ul class="payment-main_list">
                  <li><p>Lorem Ipsum </p></li>
                  <li><p>Lorem Ipsum </p></li>
                  <li><p>Lorem Ipsum </p></li>
                  <li><p>Lorem Ipsum </p></li>
                  <li><p>Lorem Ipsum </p></li>
                  <li><p>Lorem Ipsum </p></li>
                </ul>
              </div>
            </div>
            <button class="payment-button">Book ticket</button>
          </div>
          </div>
          <footer style="padding: 1rem 0;">
          <div style="margin: auto;">
            <hr style="margin-bottom: 1rem;border-color: rgba(243,244,246,0.2);">
            <div class="footer-container">
              <div class="footer-main">
                <div class="footer-main-div1">
                  Copyright © 
                  2023
                  <a href="/" class="footer-home-link">Spirit</a>
                </div>
              </div>
            </div>
          </div>
          </footer>
        </div>
      </div>
    </main>
    <script src="/js/payment_dashboard.js"></script>
  </body>
</html>
