<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Ambessdor! Spirit-2023</title>
</head>

<body>
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ca-box">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Become our Campus Ambessdor</h5>
                    <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="ca-form">
                        <form action="/ca" method="post">
                            <div class="ca-comb">
                                <div class="ca-form-elm">
                                    <label for="name">First name</label>
                                    <input type="text" name="name" id="name" required>
                                </div>
                                <div class="ca-form-elm">
                                    <label for="name">Last name</label>
                                    <input type="text" name="lname" id="lname">
                                </div>
                            </div>
                            <div class="ca-form-elm">
                                <label for="email">Email id</label>
                                <input type="email" name="email" id="email" required>
                            </div>

                            <div class="ca-comb">
                                <div class="ca-form-elm">
                                    <label for="phone">Contact number</label>
                                    <input type="tel" name="phone" id="phone">
                                </div>
                                <div class="ca-form-elm">
                                    <label for="gender">Gender</label>
                                    <select name="gender" id="gender" required>
                                        <option selected>Male</option>
                                        <option value="1">First</option> -->
                                        <!-- <option>Female</option>
                                        <option>Other</option> -->

                                    <!-- </select>
                                </div>

                            </div>

                            <div class="ca-form-elm">
                                <label for="college">College</label>
                                <input type="text" name="college" id="college" required>
                            </div>

                            <div class="ca-comb">
                                <div class="ca-form-elm">
                                    <label for="year">Year</label>
                                    <select name="year" id="year">
                                        <option selected>First</option> -->
                                        <!-- <option value="1">First</option> -->
                                        <!-- <option>Second</option>
                                        <option>Third</option>
                                        <option>Fourth</option>
                                        <option>Fifth</option>
                                        <option>M.Tech</option>
                                        <option>Ph.d</option>
                                        <option>Passout (or other)</option>
                                    </select>
                                </div>
                                <div class="ca-form-elm">
                                    <label for="whatsapp">Whatsapp number</label>
                                    <input type="tel" name="whatsapp" id="whatsapp" required>
                                </div>

                            </div>
                            <div class="ca-comb">
                                <div class="ca-form-elm">
                                    <label for="address">Postal address</label>
                                    <input type="text" name="address" id="address">
                                </div>
                                <div class="ca-form-elm">
                                    <label for="code">Pincode</label>
                                    <input type="number" name="code" id="code" required>
                                </div>
                            </div> -->
                            <!-- <div class="ca-form-elm">
                                <label for="question">Why we should choose you?</label>
                                <input type="text" name="question" id="question" required>
                            </div>
                            <div class="ca-btn">
                                <button type="submit">Summit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div> -->
            <!-- <style>
                .ca-box {
                    background-color: #1b263b;
                }

                .ca-form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 2px;
                }

                .ca-comb {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .ca-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }

                .ca-btn button {
                    background-color: #007ea7;
                    color: white;
                    border: none;
                    padding: 5px 20px;
                    border-radius: 10px;
                }

                .ca-form form {
                    width: 100%;
                }

                .ca-form .ca-form-elm {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 5px 0px;
                }

                .ca-form-elm label {
                    color: #00b4d8;
                    margin: 2px 5px !important;
                }

                .ca-form-elm input,
                select {
                    outline: none;
                    background: none;
                    border: 1px solid #007ea7;
                    margin: 2px 5px !important;
                    border-radius: 5px;
                    color: white;
                    font-weight: 300;

                }

                .ca-form-elm option {
                    background-color: #003459;
                }

                #ModalLabel {
                    text-align: center;
                    color: #00b4d8;
                }
            </style>
        </div>
    </div> -->
</body>

</html>