<!-- header -->
<%- include ('../partials/header.ejs') %>
<!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- drop your code here 👇👇👇👇-->
        

        <h3>this is home page</h3>


<!-- footer -->
<%- include('../partials/footer.ejs') %>