<!-- header -->
<%- include ('./partials/header.ejs') %>
    <!-- navbar -->
    <%- include('./partials/navbar.ejs') %>

        <!-- drop your code here 👇👇👇👇-->
 
       <h1>login here</h1>
        <!-- footer -->
<%- include('./partials/footer.ejs') %>