<!-- header -->
<%- include ('./partials/header.ejs') %>
    <!-- navbar -->
    <%- include('./partials/navbar.ejs') %>

        <!-- drop your code here 👇👇👇👇-->


        <form action="" method="post">
            <div class="form_elm">
                <label for="name">name</label>
                <input type="text" name="name" id="name">
            </div>
            
            <div class="form_elm">
                <label for="gender">Gender</label>
                <select class="form-select" type="text" name="gender" id="gender">
                    <option selected>Male</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
            <div class="form_elm">
                <label for="college">college name</label>
                <input type="text" name="college" id="college">
            </div>
        
            <div class="form_elm">
                <label for="email">email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form_elm">
                <label for="phone">Phone number</label>
                <input type="tel" name="phone" id="phone">
            </div>
            <div class="form_elm">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form_elm">
                <button type="submit">Register</button>
            </div>


        </form>


        <!-- footer -->
        <%- include('./partials/footer.ejs') %>