<!-- header -->
<%- include ('./partials/header.ejs') %>
    <!-- navbar -->
    <%- include('./partials/navbar.ejs') %>

        <!-- drop your code here 👇👇👇👇-->

        <div class="registration">
            <div class="reg_layer">
                <div class="main">
                    <div class="form_content">
                        <h4>welcome</h4>
                    </div>
                    <div class="form_content main_form">

                        <h2 class="intro_text">Register here</h2>

                        <div class="form">
                            <form method="post">
                                <div class="combined">
                                    <div class="form_elm">
                                        <label for="name">Name</label>
                                        <input type="text" id="name" name="name" required="true">
                                    </div>
                                    <div class="form_elm">
                                        <label for="gender">Gender</label>
                                        <select name="gender" id="gender">
                                            <option selected>Male</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_elm">
                                    <label for="email">Email id</label>
                                    <input type="email" name="email" autocomplete="off" id="email" placeholder="example@gmail.com"
                                        required>
                                </div>
                                <div class="form_elm">
                                    <label for="phone">Phone number</label>
                                    <input type="tel" name="phone" id="phone" required>
                                </div>
                                <div class="combined">
                                    <div class="form_elm">
                                        <label for="college">College name</label>
                                        <input id="college" list="colleges" autocomplete="on" type="text"
                                            placeholder="College" />
                                    </div>
                                    <div class="form_elm">
                                        <label for="year">Year</label>
                                        <select name="gender" id="gender">
                                            <option selected value="1">First</option>
                                            <option value="1">First</option>
                                            <option value="2">Second</option>
                                            <option value="3">Third</option>
                                            <option value="4">Fourth</option>
                                            <option value="5">Fifth</option>
                                            <option value="6">M.Tech</option>
                                            <option value="7">Ph.d</option>
                                            <option value="8">Other</option>
                                        </select>
                                    </div>

                                </div>


                                <div class="form_elm">
                                    <label for="city">City</label>
                                    <input type="text" name="city" id="city">
                                </div>
                                <div class="form_elm">
                                    <label for="password" autocomplete="new-password">Password</label>
                                    <input type="password" name="password" id="password" minlength="8" required>
                                </div>
                                <div class="form_elm">
                                    <button type="submit" id="submit">Creat account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>










        <!-- footer -->
        <%- include('./partials/footer.ejs') %>