<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>

<body>
    
    <div class="container">

        <% var messages %>
        <% if(messages!='undefined' ){%>
            <h1 style='color: rgb(210, 77, 0);'>
                <%= messages %>
            </h1>
        <% } %>

        <h1 style="color: rgb(116, 193, 0);">Reset password for <b style="color: brown;"><%= email %></b>  </h1>


        <form action="" method="post">
            <div class="form_elm">
                <label for="password">New Password</label>
                <input type="pasword" name="password" id="password" required minlength="8">
            </div>
            <div class="form_elm">
                <label for="password2">Confirm Password</label>
                <input type="pasword" name="password2" id="password2" required minlength="8">
            </div>
            <div class="form_elm">
                <button type="submit" id="reset">Reset</button>
            </div>


        </form>
        <p class="text">Password should be atleast 8 characters long containing uppercase, lowercase latters, numbers and symbols</p>

    </div>
<style>
    body {
        background-color: aliceblue;
    }
    .container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    form{
        padding: 5px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
    .text{
        color:dodgerblue;
    }
    form .form_elm {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    form .form_elm input {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border:1px solid black;
    padding: 5px 2px;
    border-radius: 4px;
    }

    #reset{
        padding: 5px 2px;
            background-color: deepskyblue;
            border: none;
            outline: none;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            border-radius: 5px;
            color: white;
            cursor: pointer;
    }
</style>
</body>

</html>